<!doctype html>
<html>
<head>
	<% include head_dash %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />

    <script type="text/javascript" src="/js/players.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
</head>
<header>
	<% include header_dash %>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        </div>
    </div>

    <div class="page-header text-center">
        <h1><span class="fa fa-users"></span> Players<span class="badge"></span></h1>
    </div>

    <!-- show any messages that come back with authentication -->
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-10 col-lg-offset-1">
            
           <!-- <button type="button" class="courseBtn btn btn-default btn-lg" style="background: white;">Add a Course</button> -->

           
           <!--
           <% for(var i=0; i < players.length; i++) { %>
                <div class="courseBtn" style="background: white; word-break: break-all;">
                     
                     <b>Name: </b> <%= players[i].LName %> <br /> 
                     <b>Team: </b> <%= players[i].Team %> <br />
                     <b>Position: </b> <%= players[i].Position %>  <span class="pull-right"><b>Mongo Id: </b> <%= players[i].id %></span>
                    
                     
                </div>
                <hr />
            <% } %>

            <% if(players.length < 1) { %>
                <h1 class="text-muted text-center" style="margin-bottom: 500px;">No Players</h1>
            <% } %>
            -->

            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>mongo _id</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < players.length; i++) { %>
                        <tr>
                             <td><%= players[i].id %></td>
                             <td><%= players[i].LName %></td>
                             <td><%= players[i].Team %></td>
                             <td><%= players[i].Position %> </td>
                        </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>mongo _id</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>Position</th>
                    </tr>
                </tfoot>
            </table>


        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <footer>
            <% include footer_dash %>
        </footer>
        
    </div>
</div>
</body>
</html>